* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #f3f0e7;
}
#navbar {
    display: flex;
    background: linear-gradient( 
        to bottom, 
        #cc9a86,
        #bd806d
    );
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar a {
    text-decoration: none;
    color: #f3f0e7;
    padding: 24px;
}
#navbar #logo-link {
    margin-right: auto;
}
#navbar .cta-button {
    background-color: #f3f0e7;
    color: #bd806d;
    border-radius: 36px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    min-width: 150px;
    text-align: center;
    margin-right: 24px;
}
#layout {
    width: 800px;
    margin: 48px auto;
    font-size: 24px;
    height: 200vh;
}
#header {
    position: sticky;
    top: 0px;
}