* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
   
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99c97f;
}
#navbar a {
    text-decoration: none;
    color: gray;
}
#button1 {
    border: 2px solid gray;
    padding: 10px;
    background-color: #F2F9E4;
    border-radius: 30px;
}
#button1:hover {
    border: 3px solid gray;
}
#button1:active {
    background-color: gray;
    
}
#button1 a:active {
    color: pink;
}
#hero {
    background-image: url(../images/maybe-hero.webp);
    background-size: cover;
    background-position: center center;
    height: 60vh;
    position: relative;
    color: pink;
    text-align: center;
}
#hero-content {
    position: absolute;
    top: 10%;
    left: 15%;
}
#hero h2 {
    font-size: 8vw;
    margin-bottom: 5vh;
    margin-right: 5vw;
}
#hero h3 {
    font-size: 3vw;
    margin: 0px 5vw 0px 0px;
}
#button1-2 a {
    display: inline-block;
    background-color: #F2F9E4;
    color: gray;
    text-decoration: none;
    padding: 15px;
    font-size:1.5vw;
    margin: 5vh 5vw 10vw 0px;
    border: 2px solid gray;
    border-radius: 30px;
}
#button1-2 a:hover {
    border: 3px solid gray;
}
#button1-2 a:active {
    color: pink;
    background-color: gray;
}
.content {
    background-color: #99c97f;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}



