@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Open+Sans;
    background: linear-gradient(rgb(96, 95, 95), rgb(159, 159, 159),gray);
    color: rgb(56, 56, 56);

}
#all h3 {
    font-size: 20px;
}
#all h1 {
    font-size: 50px;
}
#all h2 {
    font-size: 35px;
}

.single-column {
    text-align: center;
}
.two-column {
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: space-between;
    
}
.two-column img {
    width: 45%;
}
#buttons {
    text-align: center;
}
#buttons a {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color:white;
    background-color: rgb(126, 31, 31);


}
.single-column {
    padding: 50px;
}
.single-column h4 a {
    color: black;
}
.single-column h4 {
    padding: 50px;
}
@media screen and (max-width: 480px) {
    #all h3 {
        font-size: 15px;
    }
    #all h1 {
        font-size: 30px;
    }
    #all h2 {
        font-size: 25px;
    }
}

