@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: merienda;
    background-image: url(../images/adoptvampirepet-background.jpeg);
}
#menu {
    display: flex;
    align-items: center;
    background: linear-gradient(
        to bottom, 
        #A663CC,
        #441151
    );
}
#dropdown-container a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 24px;
}
#menu a {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 24px;
}
#logo {
    margin-right: auto;
    font-weight: bold;
}
#dropdown-container {
    position: relative;
}
#dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 
    visibility 0.25s,
    opacity 0.25s;
}
#dropdown a {
    background-color: #A663CC;
    width: 100%;
    min-width: 200px;
}
#dropdown-container:hover #dropdown {
    visibility: visible;
    opacity: 1;
}
#dropdown a:hover {
    background-color: #8751a7;
}
#minty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 80px;
    border-style: dotted;
    border-color: #441151;
    background-color: #774284f0;
}
#minty img {
    width: 70%;
}

